{% extends "base-simplified.html" %}
{% load account crispy_forms_tags i18n socialaccount static %}
{% block content %}
    <div class="my-8 mx-auto max-w-sm">
        <h1 class="text-xl font-bold tracking-tight leading-tight text-center md:text-2xl text-base-content">
            {% translate "Sign In" %}
        </h1>
        <form class="space-y-4 md:space-y-6"
              method="post"
              action="{% url 'account_login' %}">
            {% csrf_token %}
            {% crispy form %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="mb-3 text-sm text-right">
                <a href="{% url 'account_reset_password' %}"
                   class="hover:underline text-primary">{% translate "Forgot Password?" %}</a>
            </div>
            <button type="submit" class="w-full btn btn-primary">{% translate "Sign In" %}</button>
            <p class="text-sm font-light text-base-content/90">
                {% blocktranslate %}Non hai ancora un account?
    <a href="{{ signup_url }}">Registrati qui</a>{% endblocktranslate %}
            </p>
        </form>
    </div>
{% endblock content %}
