{% extends "base-simplified.html" %}
{% load static i18n crispy_forms_tags %}
{% load account socialaccount %}
{% block content %}
    <div class="max-w-sm mx-auto my-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
            {% trans "Sign In" %}
        </h1>
        <form class="space-y-4 md:space-y-6"
              method="post"
              action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="mb-3 text-sm text-right">
                <a href="{% url 'account_reset_password' %}"
                   class="text-green-600 hover:underline">{% trans "Forgot Password?" %}</a>
            </div>
            <button type="submit" class="btn btn-primary w-full">{% trans "Sign In" %}</button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </p>
        </form>
    </div>
{% endblock content %}
