{% extends "base-simplified.html" %}
{% load static i18n crispy_forms_tags %}
{% load account socialaccount %}
{% block content %}
    <div class="my-8 mx-auto max-w-sm">
        <h1 class="text-xl font-bold tracking-tight leading-tight text-center text-gray-900 md:text-2xl dark:text-white">
            {% trans "Sign In" %}
        </h1>
        <form class="space-y-4 md:space-y-6"
              method="post"
              action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="mb-3 text-sm text-right">
                <a href="{% url 'account_reset_password' %}"
                   class="text-green-600 hover:underline">{% trans "Forgot Password?" %}</a>
            </div>
            <button type="submit" class="w-full btn btn-primary">{% trans "Sign In" %}</button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                {% blocktrans %}Non hai ancora un account?
    <a href="{{ signup_url }}">Registrati qui</a>{% endblocktrans %}
            </p>
        </form>
    </div>
{% endblock content %}
