{% extends "base-simplified.html" %}
{% load account crispy_forms_tags %}
{% block page_title %}
    Recupera password
{% endblock page_title %}

{% block content %}
    <div class="mx-auto my-8 max-w-sm">
        <h1 class="text-base-content text-xl leading-tight font-bold tracking-tight md:text-2xl">
            Recupera password
        </h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-base-content/80 mt-4">
            Hai dimenticato la password? Inserisci il tuo indirizzo email qui sotto: ti invieremo un'email per reimpostarla.
        </p>
        <form class="password_reset mt-4 space-y-4 md:space-y-6"
              method="post"
              action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary w-full" type="submit" value="Reimposta la mia password" />
        </form>
        <p class="text-base-content/80 mt-4 text-sm font-light">
            Contattaci se hai problemi a reimpostare la password.
        </p>
    </div>
{% endblock content %}
