{% extends "base-simplified.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
    {% if token_fail %}
        Link non valido
    {% else %}
        Cambia password
    {% endif %}
{% endblock page_title %}

{% block content %}
    <div class="mx-auto my-8 max-w-sm">
        <h1 class="text-base-content text-xl leading-tight font-bold tracking-tight md:text-2xl">
            {% if token_fail %}
                Link non valido
            {% else %}
                Cambia password
            {% endif %}
        </h1>
        {% if token_fail %}
            <p class="text-base-content/80 mt-4">
                Il link per reimpostare la password non è valido, forse perché è già stato usato. Richiedi un <a href="{% url 'account_reset_password' %}" class="link link-primary">nuovo recupero password</a>.
            </p>
        {% else %}
            <form class="mt-4 space-y-4 md:space-y-6"
                  method="post"
                  action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary w-full"
                       type="submit"
                       name="action"
                       value="Cambia password" />
            </form>
        {% endif %}
    </div>
{% endblock content %}
