{% extends "base.html" %}
{% load static i18n %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}
{% block content %}
    <div class="my-12 border shadow card card-side bg-base-100 border-base-200">
        <figure>
            <img src="{% static 'img/message.png' %}"
                 alt="Envelope with a check mark"
                 class="ms-3" />
        </figure>
        <div class="card-body">
            <h2 class="card-title text-primary">{% trans "Verify Your Email Address" %}</h2>
            <p>
                {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock content %}
