{% extends "base.html" %}
{% load heroicons static %}
{% block page_title %}
    Verifica il tuo indirizzo email
{% endblock page_title %}

{% block content %}
    <div class="card card-side bg-base-100 border-base-200 mx-auto my-12 max-w-xl border shadow">
        <div class="card-body">
            <h2 class="card-title text-primary">
                {% heroicon_solid 'envelope-open' class="size-6 me-1 text-primary" %}
                Verifica il tuo indirizzo email
            </h2>
            <p>
                Ti abbiamo inviato un'email di verifica. Segui il link contenuto nel messaggio per completare la registrazione. Se non la trovi nella posta in arrivo, controlla anche nello spam.
            </p>
            <p class="text-warning mt-2 font-medium">
                Attenzione: se l'account non viene verificato entro 7 giorni dalla registrazione, verrà eliminato automaticamente.
            </p>
        </div>
    </div>
{% endblock content %}
