ACCOUNT_DEFAULT_HTTP_PROTOCOL=http
DEBUG=on
SECRET_KEY=change_me_as_soon_as_possible
ALLOWED_HOSTS=*
ENABLE_SCHOOL_DATE_CHECK=False
COOLIFY_WEBHOOK_URL=https://your-coolify-instance/api/v1/deploy/webhook
COOLIFY_WEBHOOK_TOKEN=your_coolify_webhook_token_here
REDIS_HOST=your_redis_host_here
OVH_S3_ACCESS_KEY=your_access_key_here
OVH_S3_SECRET_KEY=your_secret_key_here
OVH_S3_BUCKET_NAME=django-db-backup
OVH_S3_ENDPOINT_URL=https://s3.eu-south-mil.io.cloud.ovh.net
OVH_S3_REGION=eu-south-mil
