ACCOUNT_DEFAULT_HTTP_PROTOCOL=http
DEBUG=on
SECRET_KEY=change_me_as_soon_as_possible
ALLOWED_HOSTS=*
ENABLE_SCHOOL_DATE_CHECK=False
CODEBERG_API_TOKEN=your_token_here
COOLIFY_WEBHOOK_URL=https://your-coolify-instance/api/v1/deploy/webhook
COOLIFY_WEBHOOK_TOKEN=your_coolify_webhook_token_here
REDIS_HOST=your_redis_host_here
