{% load heroicons static %}
<div class="text-base-content/90 max-w-screen-lg">
    <h1 class="mb-4 text-center text-2xl font-semibold tracking-tight">Benvenuto</h1>
    <p class="mb-1.5 leading-6 italic">
        Ti do il benvenuto su <span class="font-bold text-green-600">Menu Scolastico</span>!
    </p>
    <p class="mb-1.5 leading-6 italic">
        Ho creato questo progetto per sapere cosa mangia mio figlio a scuola, senza dover cercare tra fogli Excel e impazzire nella ricerca della giusta settimana.
    </p>
    <p class="mb-1.5 leading-6 italic">
        Penso che sia utile condividere questa soluzione con tutte le persone che hanno lo stesso problema.
    </p>
    <p class="mb-1.5 leading-6 italic">
        È davvero semplice:
    </p>
    <ul class="ms-4 mb-2.5 list-inside list-disc italic">
        <li>registrati.</li>
        <li>crea la tua scuola.</li>
        <li>carica i menu settimanali usando i template in formato CSV.</li>
    </ul>
    <p class="mb-1.5 leading-6 italic">
        Se hai un bambino o una bambina che mangia in mensa, iscriviti subito e carica il menu della tua scuola:
    </p>
    <p class="mb-1.5 leading-6 italic">
        insieme possiamo semplificare l’organizzazione dei pasti!
    </p>

    <div class="mt-10 grid grid-cols-1 gap-2 rounded-xl bg-cover bg-center p-2 md:grid-cols-2 md:gap-4 md:p-6 lg:gap-6 lg:p-8"
         id="anon-cta">
        <div class="bg-base-100 border-base-300 rounded-xl border px-4 py-6 shadow-md">
            <p class="mb-6 text-center text-xl font-medium tracking-tight">Cerca la tua scuola</p>
            <div class="mx-auto flex max-w-sm items-center">
                <label for="simple-search" class="sr-only">Cerca</label>
                <div class="relative w-full">
                    <div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
                        {% heroicon_outline 'magnifying-glass' class="w-5 h-5 text-green-600" %}
                    </div>
                    <input type="text"
                           id="simple-search"
                           name="q"
                           class="text-base-content/90 bg-base-200 border-base-300 block w-full rounded-lg border p-2.5 ps-10 text-sm focus:border-green-500 focus:ring-green-500"
                           hx-get="{% url 'school_menu:search_schools' %}"
                           hx-swap="outerHTML"
                           hx-trigger="keyup changed delay:1s"
                           hx-target="#school-list"
                           hx-indicator="#spinner"
                           placeholder="Cerca scuola o città..."
                           autocomplete="off"
                           required />
                    <span id="spinner"
                          class="htmx-indicator loading loading-bars text-primary loading-md absolute end-4 top-2"></span>
                </div>
            </div>
            <div id="school-list"></div>
        </div>
        <div class="bg-base-100 border-base-300 rounded-xl border px-4 py-6 text-center shadow-md">
            <p class="mb-6 text-xl font-medium tracking-tight">Crea il menu della tua scuola</p>
            <a href="{% url 'account_signup' %}"
               class="btn btn-lg btn-primary dark:btn-soft inline-flex items-center">
                Registrati
                {% heroicon_outline "arrow-right" class="w-4 h-4 ms-4" %}
            </a>
        </div>
    </div>
</div>
