{% if meal.snack %}
<p class="my-3 text-xl font-medium">
    <strong>Pranzo</strong>
</p>
{% else %}
<div class="py-3"></div>
{% endif %}
<ul class="list-unstyled menu-list">
    <li>{{ meal.first_course }}</li>
    <li>{{ meal.second_course }}</li>
    <li>{{ meal.side_dish }}</li>
    <li>{{ meal.fruit }}</li>
</ul>
{% if meal.snack %}
<p class="my-3 text-xl font-medium">
    <strong>Spuntino</strong>
</p>
<ul class="mb-4 list-unstyled menu-list">
    <li>{{ meal.snack }}</li>
</ul>
{% else %}
<div class="py-3 mb-4"></div>
{% endif %}
