<div>
    <p class="text-base-content/60 mb-1 text-sm font-semibold tracking-wide uppercase">Pranzo</p>
    <ul class="menu-list list-unstyled">
        <li>{{ meal.first_course }}</li>
        <li>{{ meal.second_course }}</li>
        <li>{{ meal.side_dish }}</li>
        <li>{{ meal.fruit }}</li>
    </ul>
</div>
{% if meal.snack %}
<div>
    <p class="text-base-content/60 mb-1 text-sm font-semibold tracking-wide uppercase">Spuntino</p>
    <ul class="menu-list list-unstyled">
        <li>{{ meal.snack }}</li>
    </ul>
</div>
{% endif %}
