{% load heroicons social_share %}
<div class="text-center" id="day_menu">
    {% include 'partials/_days_menu.html' %}
    <div id="current_menu" class="my-7 text-center">
        {% if meal %}
            {% if not school.is_published %}<span class="badge badge-error badge-outline">PRIVATO</span>{% endif %}
            <h1 class="text-3xl font-semibold tracking-tight">Menu del giorno</h1>
            {% if school.annual_menu %}
                {% include 'partials/_annual_menu.html' %}
            {% else %}
                {% if school.menu_type == "D" %}
                    {% include 'partials/_detailed_menu.html' %}
                {% else %}
                    {% include 'partials/_simple_menu.html' %}
                {% endif %}
                {% endif %}
                {% include 'partials/_types_menu.html' %}
            <div class="flex flex-col gap-1 justify-center items-center mt-4 md:flex-row md:gap-2 md:mt-8">
                <div class="badge badge-secondary me-1">Settimana {{ week }}</div>
                <div class="text-green-200 badge badge-primary me-1">
                    {% if meal.season == 2 %}
                        Autunno / Inverno
                    {% else %}
                        Primavera / Estate
                    {% endif %}
                </div>
                <div class="text-yellow-800 badge badge-warning">{{ year }}/{{ year|add:1 }}</div>
            </div>
        {% else %}
            <p class="p-12 text-xl font-medium text-gray-900">
                <em>Nessun menù caricato per il giorno selezionato</em>
            </p>
            <br>
        {% endif %}
    </div>
    <hr class="mt-8 mb-4">
    <p class="text-lg font-semibold tracking-tight">Condividi</p>
    <div id="share"
         class="flex flex-col gap-3 justify-center mt-4 mb-6 md:flex-row"
         x-data="{ address: '{{ request.META.HTTP_HOST }}{% url 'school_menu:school_menu' school.slug %}' }">
        <!--   https://www.alpinejs.dev/component/tooltip -->
        <a href="mailto:?body=Puoi%20vedere%20il%20menu%20della%20scuola%20{{ school.name }}%20al%20seguente%20indirizzo:%0D%0A%0D%0A{{ request.META.HTTP_HOST }}{% url 'school_menu:school_menu' school.slug %}&subject=Condividi%20il%20Menu..."
           x-tooltip="Condividi via email"
           class="inline-flex items-center bg-white border-gray-100 shadow hover:bg-gray-100 btn">
            {% heroicon_solid "envelope" class="w-5 h-5 text-orange-600 me-1" %}
            Email
        </a>
        {% post_to_facebook object_or_url "Facebook" "inline-flex items-center bg-white border-gray-100 shadow hover:bg-gray-100 btn" %}
        {% post_to_whatsapp object_or_url "Whatsapp" "inline-flex items-center bg-white border-gray-100 shadow hover:bg-gray-100 btn" %}
        <button type="button"
                x-data="{ input: '{{ request.META.HTTP_HOST }}{% url 'school_menu:school_menu' school.slug %}'}"
                x-tooltip="Copia negli appunti"
                x-clipboard="address"
                @click="$clipboard(input)"
                class="inline-flex items-center bg-white border-gray-100 shadow hover:bg-gray-100 btn">
            {% heroicon_solid "clipboard-document-check" class="w-5 h-5 text-sky-500 me-1" %}
            Copia
        </button>
        <a href="{% url 'contacts:menu_report' school.pk %}"
           class="inline-flex items-center bg-white border-gray-100 shadow hover:bg-gray-100 btn"
           x-tooltip="Segnala un problema">
            {% heroicon_outline "exclamation-triangle" class="w-5 h-5 text-red-500 me-1" %}
            Segnala
        </a>
    </div>
</div>
