{% load heroicons %}
<div class="mb-12 border shadow card card-side bg-base-100 border-base-200">
    <div class="card-body">
        <h2 class="card-title text-error">
            {% heroicon_solid 'no-symbol' class="size-10 me-1 text-error" %}
            Menu non pubblicato
        </h2>
        <p>
            Il menu al momento non risulta pubblico per scelta del suo autore. Puoi contattarlo utilizzando il seguente <a href="#" class="link link-error">link</a>.
        </p>
    </div>
</div>
