{% load filters heroicons %}
<div class="mb-12">
    <div class="p-4 text-center">
        <h2 class="my-6 mx-auto text-2xl font-semibold tracking-tight md:my-8 xl:my-12">
            Nessun menu per il giorno selezionato
        </h2>
        <div role=alert class="max-w-md alert alert-info alert-dash">
            {% heroicon_outline 'information-circle' %}
            <span>La scuola risulta chiusa per la stagione estiva. Potrai visualizzare di nuovo il menu del giorno quando riaprirà il <strong>{{ start_day }}&nbsp;{{ start_month|month_name }}</strong>.</span>
        </div>
    </div>
</div>
