{% load filters heroicons %}
<section class="container mx-auto max-w-screen-lg"
         id="menu"
         hx-get="{% url 'school_menu:menu_settings' user.pk %}"
         hx-trigger="menuModified from:body"
         hx-target="#menu"
         hx-swap="outerHTML">
    <div class="px-4 mt-8">
        {% if user.school %}
            <div class="p-6 mt-6 rounded-lg border shadow border-base-300 bg-base-200">
                <div class="grid grid-cols-1 mb-6 text-center md:grid-cols-4 md:text-left">
                    <h3 class="flex col-span-1 items-start mx-auto mb-2 text-2xl font-bold tracking-tight md:mx-0 text-base-content">
                        Menu
                        {% if alt_menu %}
                            <span class="font-normal badge ms-2 badge-sm text-nowrap badge-neutral badge-outline dark:badge-accent dark:badge-soft">
                                {% if menu_label %}
                                    {{ menu_label }}
                                {% else %}
                                    Standard
                                {% endif %}
                            </span>
                        {% endif %}
                    </h3>
                    <div x-data id="menu_upload" class="col-span-3 text-center md:text-right">
                        {% if user.school %}
                            <button class="inline-flex items-center mr-2 group btn btn-sm dark:btn-soft"
                                    hx-get="{% url 'school_menu:export_modal' user.school.id active_menu %}"
                                    hx-target="#dialog"
                                    hx-swap="innerHTML"
                                    @click="$dispatch('open-modal')">
                                <span class="hidden sm:block">Scarica</span> Menu
                                {% heroicon_solid 'arrow-down-tray' class="size-4 ms-2" %}
                            </button>
                        {% endif %}
                        <button class="inline-flex items-center btn btn-sm dark:btn-soft"
                                {% if not user.school.annual_menu %}
                                hx-get="{% url 'school_menu:upload_menu' user.school.id active_menu %}"
                                {% else %}
                                hx-get="{% url 'school_menu:upload_annual_menu' user.school.id active_menu %}"
                                {% endif %}
                                hx-target="#dialog"
                                hx-swap="innerHTML"
                                @click="$dispatch('open-modal')">
                            <span class="hidden sm:block">Carica</span> Menu
                            {% heroicon_solid 'arrow-up-tray' class="size-4 ms-2" %}
                        </button>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-y-2 gap-x-4 md:grid-cols-2 md:gap-x-6 md:gp-y-4">
                        {% if not user.school.annual_menu %}
                        <!--  Settimane Autunno/Inverno  -->
                        <div class="grid grid-cols-1 gap-y-2" id="winter-weeks">
                            <h4 class="mb-2 text-lg font-bold tracking-tight text-center md:text-left">Autunno / Inverno</h4>
                            {% for week in 4|weeks %}
                                <div class="flex items-center">
                                    <h5 class="mr-8 font-medium grow md:grow-0">Settimana {{ week }}</h5>
                                    <a class="inline-flex items-center btn btn-xs btn-outline btn-secondary group"
                                       href="{% url 'school_menu:create_weekly_menu' user.school.id week 2 active_menu %}">
                                        Modifica
                                        {% heroicon_mini 'pencil' class="group-hover:text-white text-secondary size-3" %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <hr class="my-3 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:hidden">
                        <!--  Settimane Primavera/Estate  -->
                        <div class="grid grid-cols-1 gap-y-2" id="spring-weeks">
                            <h4 class="mb-2 text-lg font-bold tracking-tight text-center md:text-left">Primavera / Estate</h4>
                            {% for week in 4|weeks %}
                                <div class="flex items-center">
                                    <h5 class="mr-8 font-medium grow md:grow-0">Settimana {{ week }}</h5>
                                    <a class="inline-flex items-center btn btn-xs btn-outline btn-secondary group"
                                       href="{% url 'school_menu:create_weekly_menu' user.school.id week 1 active_menu %}">
                                        Modifica
                                        {% heroicon_mini 'pencil' class="group-hover:text-white text-secondary size-3" %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="flex col-span-1 items-center py-4 px-6 m-auto my-4 text-blue-800 bg-blue-100 rounded border border-blue-200 md:col-span-2">
                            {% heroicon_solid 'information-circle' class="size-5 me-4 min-w-5" %}
                            <p>La modifica dei singoli pasti è stata disabilitata in quanto è stata selezionata l'opzione <strong>Menu Annuale</strong>.</p>
                        </div>
                        {% endif %}
                        <hr class="my-3 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:hidden">
                        {% if alt_menu %}
                            <div class="grid grid-cols-1 col-span-1 gap-y-2 md:col-span-2"
                                 id="alt_menu">
                                <h4 class="mb-2 text-lg font-bold tracking-tight text-center md:mt-6 md:text-left">Menu Alternativi</h4>
                                <div class="flex items-center">
                                    <div class="hidden md:block grow">
                                        <label for="alt_menu_select">Seleziona il menu che vuoi modificare</label>
                                    </div>
                                    <div class="text-center grow md:grow-0">
                                        <select class="select select-bordered select-sm"
                                                id="alt_menu_select"
                                                name="active_menu"
                                                hx-get="{% url 'school_menu:menu_settings' user.pk %}"
                                                {% comment %}
                                                hx-trigger="change"
                                                {% endcomment %}
                                                hx-swap="outerHTML"
                                                hx-target="#menu">
                                            <option disabled selected>Seleziona Menu</option>
                                            <option value="S">Standard</option>
                                            {% if user.school.no_gluten %}<option value="G">No Glutine</option>{% endif %}
                                            {% if user.school.no_lactose %}<option value="L">No Lattosio</option>{% endif %}
                                            {% if user.school.vegetarian %}<option value="V">Vegetariano</option>{% endif %}
                                            {% if user.school.special %}<option value="P">Speciale</option>{% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
            </div>
        {% endif %}
    </div>
</section>
