<div class="mx-auto mb-6 max-w-3xl px-5 md:mt-6 md:px-4" id="info">
    <h1 class="text-center text-xl font-semibold tracking-tight text-pretty md:text-2xl">Impostazioni</h1>
    <p class="text-base-content/80 mt-4 text-base/6">
        Qui di seguito puoi rivedere e modificare le tue impostazioni relative alla scuola e al menu di tuo figlio. Puoi caricare i menu settimanali oppure modificare quelli già presenti. Se hai bisogno di aiuto per capire come funziona il sistema, puoi consultare la <a href="{% url 'school_menu:help' %}" class="text-primary underline">guida</a>.
    </p>
</div>
