<div class="mx-auto mb-6 max-w-3xl md:mt-6 md:px-4" id="info">
    <div class="bg-base-300/50 border-base-300 md:bg-base-100 md:rounded-box grid gap-6 border-y p-5 pt-8 pb-8 md:border md:p-6 md:shadow-sm lg:p-12">
        <h1 class="text-center text-xl font-semibold tracking-tight text-pretty md:text-2xl">Impostazioni</h1>
        <p class="text-base-content/80 text-base/6">
            Qui di seguito puoi rivedere e modificare le tue impostazioni relative alla scuola e al menu di tuo figlio. Puoi caricare i menu settimanali oppure modificare quelli già presenti. Se hai bisogno di aiuto per capire come funziona il sistema, puoi consultare la <a href="{% url 'school_menu:help' %}" class="text-primary underline">guida</a>.
        </p>
    </div>
</div>
