{% load heroicons static %}
<section class="container mx-auto max-w-screen-lg" id="school">
    <div class="px-4 mt-8">
        <div class="block p-6 mt-6 rounded-lg border shadow border-base-300 bg-base-200">
            <h3 class="mb-2 text-2xl font-bold tracking-tight text-center md:text-left text-base-content grow">
                Scuola
            </h3>
            {% if user.school %}
                <div class="grid grid-cols-1 mb-4 font-normal md:grid-cols-2 text-base-content">
                    <div>
                        <ul class="leading-10" id="school-settings">
                            <li>
                                <span class="font-bold">Nome:</span> {{ user.school.name }}
                            </li>
                            <li>
                                <span class="font-bold">Città:</span> {{ user.school.city }}
                            </li>
                            <li>
                                <span class="font-bold">Tipo di Menu:</span> {{ user.school.get_menu_type_display }}
                            </li>
                            <li>
                                <span class="font-bold">Menu Pubblico:</span>
                                {% if user.school.is_published %}
                                    Sì
                                {% else %}
                                    No
                                {% endif %}
                            </li>
                            <li>
                                <span class="font-bold">Inizio Anno Scolastico:</span>&nbsp;{{ user.school.start_day }}/{{ user.school.start_month }}
                            </li>
                            <li>
                                <span class="font-bold">Fine Anno Scolastico:</span>&nbsp;{{ user.school.end_day }}/{{ user.school.end_month }}
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="leading-10" id="meal-settings">
                            {% if not user.school.annual_menu %}
                            <li>
                                <span class="font-bold">Stagione:</span> {{ user.school.get_season_choice_display }}
                            </li>
                            {% endif %}
                            <li>
                                <span class="font-bold">Menu Annuale:</span>
                                {% if user.school.annual_menu %}
                                    Sì
                                {% else %}
                                    No
                                {% endif %}
                            </li>
                            {% if not user.school.annual_menu %}
                            <li>
                                <span class="font-bold">Scarto Settimana:</span> {{ user.school.week_bias }}
                            </li>
                            {% endif %}
                        </ul>
                        {% if alt_menu %}
                            <ul class="mt-2 leading-5" id="alternate-meal-settings">
                                <li>
                                    <p class="mb-1 font-bold md:mb-3">Menu Alternativi</p>
                                    {% if user.school.no_gluten %}
                                        <div class="inline-flex flex-col gap-1 items-center me-2">
                                            <img src="{% static 'img/no-gluten.png' %}"
                                                 alt="Icona menu senza glutine"
                                                 class="inline w-5 h-auto dark:invert">
                                            <span class="hidden text-xs tracking-tight md:block">No Glutine</span>
                                        </div>
                                    {% endif %}
                                    {% if user.school.no_lactose %}
                                        <div class="inline-flex flex-col gap-1 items-center me-2">
                                            <img src="{% static 'img/no-lactose.png' %}"
                                                 alt="Icona menu senza lattosio"
                                                 class="inline w-5 h-auto dark:invert">
                                            <span class="hidden text-xs tracking-tight md:block">No Lattosio</span>
                                        </div>
                                    {% endif %}
                                    {% if user.school.vegetarian %}
                                        <div class="inline-flex flex-col gap-1 items-center me-2">
                                            <img src="{% static 'img/vegetarian.png' %}"
                                                 alt="Icona menu vegetariano"
                                                 class="inline w-5 h-auto dark:invert">
                                            <span class="hidden text-xs tracking-tight md:block">Vegetariano</span>
                                        </div>
                                    {% endif %}
                                    {% if user.school.special %}
                                        <div class="inline-flex flex-col gap-1 items-center me-2">
                                            <img src="{% static 'img/special.png' %}"
                                                 alt="Icona menu speciale"
                                                 class="inline w-5 h-auto dark:invert">
                                            <span class="hidden text-xs tracking-tight md:block">Speciale</span>
                                        </div>
                                    {% endif %}
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="md:text-right">
                    <button class="inline-flex justify-center items-center mt-2 w-full md:w-auto btn btn-sm btn-primary btn-outline dark:btn-soft"
                            hx-target="#school"
                            hx-swap="outerHTML"
                            hx-get="{% url 'school_menu:school_update' %}">
                        Modifica
                        {% heroicon_solid 'pencil' class="hidden md:block size-4" %}
                    </button>
                </div>
            {% else %}
                <p class="italic font-normal text-base-content">Nessuna scuola associata al tuo account</p>
                <button class="mt-2 w-full md:w-auto btn btn-sm btn-primary btn-outline dark:btn-soft"
                        hx-target="#school"
                        hx-swap="innerHTML"
                        hx-get="{% url 'school_menu:school_create' %}">Crea</button>
            {% endif %}
        </div>
    </div>
</section>
