<section class="container mx-auto max-w-5xl" id="info">
    <div class="px-10 my-8">
        <h1 class="mb-4 text-2xl font-semibold tracking-tight text-center">Impostazioni</h1>
        <p>
            Qui di seguito puoi rivedere e modificare le tue impostazioni relative alla scuola e al menu di tuo figlio. Puoi caricare i menu settimanali oppure modificare quelli già presenti. Se hai bisogno di aiuto per capire come funziona il sistema, puoi consultare la <a href="{% url 'school_menu:help' %}" class="underline text-primary">guida</a>.
        </p>
    </div>
</section>
