{% if meal.morning_snack %}
<div>
    <p class="text-base-content/60 mb-1 text-sm font-semibold tracking-wide uppercase">Spuntino</p>
    <p>{{ meal.morning_snack }}</p>
</div>
{% endif %}
<div>
    <p class="text-base-content/60 mb-1 text-sm font-semibold tracking-wide uppercase">Pranzo</p>
    <p>{{ meal.menu|linebreaks }}</p>
</div>
{% if meal.afternoon_snack %}
<div>
    <p class="text-base-content/60 mb-1 text-sm font-semibold tracking-wide uppercase">Merenda</p>
    <p>{{ meal.afternoon_snack }}</p>
</div>
{% endif %}
