{% if alt_menu %}
    <div class="flex flex-row flex-wrap gap-1 justify-center items-center mx-auto mt-4 max-w-md md:gap-2 md:mt-8">
        {% for label, meal_type in types_menu.items %}
            <button type="button"
                    class="btn btn-primary btn-xs md:btn-sm {% if label != meal.get_type_display %}btn-outline{% endif %}"
                    hx-target="#day_menu"
                    hx-swap="outerHTML"
                    hx-get="{% url 'school_menu:get_menu' school.pk week meal.day meal_type %}">
                {{ label|upper }}
            </button>
        {% endfor %}
    </div>
{% endif %}
