<div class="grid grid-cols-2 gap-x-2 gap-y-4 md:grid-cols-4" id="season">
    {% for type in types %}
        <div class="place-self-end md:place-self-center">
            <a href="#"
               class="btn btn-primary{% if meal.type != type %}-outline{% endif %} btn-sm"
               hx-target="#day_menu"
               hx-swap="outerHTML"
               hx-get="{% url 'school_menu:get_menu' week day type school.id %}">{{ type }}</a>
        </div>
    {% endfor %}
    {% comment %} <div class="place-self-end md:place-self-center">
        <a href="#" class="btn btn-primary{% if meal.type != 1 %}-outline{% endif %} btn-sm" hx-target="#day_menu" hx-swap="outerHTML" hx-get="{% url 'school_menu:get_menu' week day 1 school.id %}">STANDARD</a>
    </div>
    <div class="place-self-start md:place-self-center">
        <a href="#" class="btn btn-primary{% if meal.type != 4 %}-outline{% endif %} btn-sm" hx-target="#day_menu" hx-swap="outerHTML" hx-get="{% url 'school_menu:get_menu' week day 4 school.id %}">VEGETARIANO</a>
    </div>
    <div class="place-self-end md:place-self-center">
        <a href="#" class="btn btn-primary{% if meal.type != 2 %}-outline{% endif %} btn-sm" hx-target="#day_menu" hx-swap="outerHTML" hx-get="{% url 'school_menu:get_menu' week day 2 school.id %}">NO GLUTINE</a>
    </div>
    <div class="place-self-start md:place-self-center">
        <a href="#" class="btn btn-primary{% if meal.type != 3 %}-outline{% endif %} btn-sm" hx-target="#day_menu" hx-swap="outerHTML" hx-get="{% url 'school_menu:get_menu' week day 3 school.id %}">NO LATTOSIO</a>
    </div> {% endcomment %}
</div>
