{% if alt_menu %}
<div class="flex flex-row flex-wrap gap-1 justify-center items-center mx-auto mt-4 max-w-md md:gap-2 md:mt-8">
    <button type="button" class="btn btn-primary btn-sm">STANDARD</button>
    {% if school.no_lactose %}
    <button type="button" class="btn btn-primary btn-sm btn-outline">NO LATTOSIO</button>
    {% endif %}
    {% if school.no_gluten %}
    <button type="button" class="btn btn-primary btn-sm btn-outline">NO GLUTINE</button>
    {% endif %}
    {% if school.no_vegetarian %}
    <button type="button" class="btn btn-primary btn-sm btn-outline">VEGETARIANO</button>
    {% endif %}
    {% if school.special %}
    <button type="button" class="btn btn-primary btn-sm btn-outline">SPECIALE</button>
    {% endif %}
</div>
{% endif %}
