{% load static %}
<!-- Tooltip -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/tippy-bundle.umd.min.js' %}"></script>
<!-- HTMX -->
<script defer src="{% static 'js/htmx.min.js' %}"></script>
<!-- Alpine.js -->
<script defer src="{% static 'js/alpine-focus.min.js' %}"></script>
<script defer src="{% static 'js/alpine-collapse.min.js' %}"></script>
<script defer src="{% static 'js/alpine-clipboard.min.js' %}"></script>
<script defer src="{% static 'js/alpine.min.js' %}"></script>
<!-- Umami Analytics Code -->
<script defer
        src="https://analytics.local.webbografico.com/script.js"
        data-website-id="746fd00c-77c2-4b88-b5a6-208648d5e5cb"
        data-domains="menu.webbografico.com,menu.local.webbografico.com"></script>
<!-- Custom JS -->
<script defer src="{% static 'js/custom.js' %}"></script>
