{% load settings_tags static %}
<!-- Tooltip -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/tippy-bundle.umd.min.js' %}"></script>
<!-- HTMX -->
<script defer src="{% static 'js/htmx.min.js' %}"></script>
<!-- Alpine.js -->
<script defer src="{% static 'js/alpine-focus.min.js' %}"></script>
<script defer src="{% static 'js/alpine-collapse.min.js' %}"></script>
<script defer src="{% static 'js/alpine-clipboard.min.js' %}"></script>
<script defer src="{% static 'js/alpine.min.js' %}"></script>
<!-- Umami Analytics Code -->
{% get_setting 'UMAMI_SCRIPT_URL' as umami_script_url %}
{% get_setting 'UMAMI_WEBSITE_ID' as umami_website_id %}
{% get_setting 'UMAMI_DOMAINS' as umami_domains %}
{% if umami_script_url and umami_website_id %}
<script defer
        src="{{ umami_script_url }}"
        data-website-id="{{ umami_website_id }}"
        {% if umami_domains %}data-domains="{{ umami_domains }}"{% endif %}></script>
{% endif %}
<!-- Custom JS -->
<script defer src="{% static 'js/custom.js' %}"></script>
