{% load heroicons %}
{% if messages %}
    <div class="toast toast-center">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'info' %} alert-info {% elif message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-error {% elif message.tags == 'warning' %} alert-warning {% elif message.tags == 'debug' %} alert-neutral {% endif %}"
                 role="alert"
                 x-cloak
                 x-data="{ show: true }"
                 x-show="show"
                 x-init="setTimeout(() => show = false, 3000)">
                <div>
                    {% if message.tags == 'info' %}
                        {% heroicon_mini 'information-circle' class="size-5" %}
                    {% elif message.tags == 'success' %}
                        {% heroicon_mini 'check-circle' class="size-5" %}
                    {% elif message.tags == 'error' %}
                        {% heroicon_mini 'exclamation-circle' class="size-5" %}
                    {% elif message.tags == 'warning' %}
                        {% heroicon_mini 'bell' class="size-5" %}
                    {% elif message.tags == 'debug' %}
                        {% heroicon_mini 'bug-ant' class="size-5" %}
                    {% endif %}
                    <span class="sr-only">Info</span>
                </div>
                <div class="text-sm font-normal ms-3 me-1">{{ message|safe }}</div>
                <button type="button"
                        class="bg-transparent border-0 shadow-none btn btn-sm"
                        @click="show = !show"
                        aria-label="Close">
                    <span class="sr-only">Close</span>
                    {% heroicon_mini "x-mark" class="size-4" %}
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
