{% load active_link_tags heroicons static %}
<div x-data="{ open: false }">
    <nav class="bg-base-100">
        <div class="flex flex-wrap justify-between items-center p-4 mx-auto max-w-screen-lg">
            <a href="{% url 'school_menu:index' %}"
               class="flex items-center space-x-3 rtl:space-x-reverse grow">
                <img src="{% static 'img/sm_logo.png' %}" class="h-8" alt="Logo">
                <span class="self-center font-semibold tracking-tight whitespace-nowrap md:text-2xl text-base-content">Menu Scolastico</span>
            </a>
            <div class="flex items-end space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
                {% if user.is_authenticated %}
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-sm btn-primary">Entra</a>
                {% endif %}
                <button type="button"
                        class="inline-flex justify-center items-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg md:hidden dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-700"
                        aria-controls="navbar-cta"
                        aria-expanded="false"
                        x-on:click="open = ! open">
                    <span class="sr-only">Open main menu</span>
                    {% heroicon_outline "bars-3" x_show="! open" %}
                    {% heroicon_outline "x-mark" x_show="open" %}
                </button>
            </div>
            <div class="hidden justify-between items-center w-full md:flex md:order-1 md:w-auto md:me-8"
                 id="navbar-cta">
                 <!-- Menu Desktop -->
                <ul class="flex flex-col p-4 mt-4 font-medium rounded-lg border border-gray-100 md:flex-row md:p-0 md:mt-0 md:space-x-5 md:border-0 rtl:space-x-reverse">
                    <li>
                        <a href="{% url 'school_menu:index' %}"
                           class="lg_menu_item {% active_link 'school_menu:index' css_class='lg_menu_active' strict=True %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'school_menu:school_list' %}"
                           class="lg_menu_item {% active_link 'school_menu:school_list' css_class='lg_menu_active' strict=True %}">Scuole</a>
                    </li>
                    <li>
                        <a href="{% url 'notifications:notification_settings' %}"
                           class="lg_menu_item {% active_link 'notifications:notification_settings' css_class='lg_menu_active' strict=True %}">Notifiche</a>
                    </li>
                    <li>
                        <a href="{% url 'contacts:contact' %}"
                           class="lg_menu_item {% active_link 'contacts:contact' css_class='lg_menu_active' strict=True %}">Contatti</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'school_menu:settings' user.id %}"
                               class="lg_menu_item {% active_link 'school_menu:settings' css_class='lg_menu_active' strict=True %}">Impostazioni</a>
                        </li>
                        <li>
                            <form action="{% url 'account_logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit"
                                        class="lg_menu_item">
                                    Esci
                                </button>
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="justify-between items-center w-full md:hidden"
             x-cloak
             x-show="open"
             x-collapse.duration.500>
             <!-- Menu Mobile -->
            <ul class="flex flex-col gap-x-0 gap-y-2 p-4 px-5 text-base-content">
                <li>
                    <a href="{% url 'school_menu:index' %}"
                       class="mob_menu_item {% active_link 'school_menu:index' css_class='mob_menu_active' strict=True %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'school_menu:school_list' %}"
                       class="mob_menu_item {% active_link 'school_menu:school_list' css_class='mob_menu_active' strict=True %}">Scuole</a>
                </li>
                <li>
                    <a href="{% url 'notifications:notification_settings' %}"
                       class="mob_menu_item {% active_link 'notifications:notification_settings' css_class='mob_menu_active' strict=True %}">Notifiche</a>
                </li>
                <li>
                    <a href="{% url 'contacts:contact' %}"
                       class="mob_menu_item {% active_link 'contacts:contact' css_class='mob_menu_active' strict=True %}">Contatti</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'school_menu:settings' user.id %}"
                           class="mob_menu_item {% active_link 'school_menu:settings' css_class='mob_menu_active' strict=True %}">Impostazioni</a>
                    </li>
                    <li>
                        <form action="{% url 'account_logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit"
                                    href="{% url 'account_logout' %}"
                                    class="w-full text-left mob_menu_item">
                                Esci
                            </button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
