{% extends "base.html" %}
{% block page_title %}
    Crediti
{% endblock page_title %}
{% block content %}
    <section>
        <div class="grid px-4 pt-8 pb-4 mx-auto max-w-screen-lg lg:gap-8 lg:pt-16 lg:pb-8 xl:gap-0">
            <h1 class="mb-4 text-2xl font-semibold tracking-tight text-center">Crediti</h1>
            <article class="max-w-none prose prose-img:w-full lg:prose-img:w-2/3 lg:prose-img:mx-auto">
                <h3>Icone</h3>
                <ol>
                    <li>
                        Logo del progetto - <a href="https://www.flaticon.com/free-icons/food" title="food icons">Food icons created by Freepik - Flaticon</a>
                    </li>
                    <li>
                        Icona Check - <a href="https://www.flaticon.com/free-icons/yes" title="yes icons">Yes icons created by juicy_fish - Flaticon</a>
                    </li>
                    <li>
                        Sfondo Home Page - <a href="https://www.freepik.com/free-photo/top-view-green-fruits-vegetables_22635023.htm#fromView=search&page=3&position=3&uuid=6cfaddb4-f823-40ad-8ecb-3eff5b8ae9b9">Image by freepik</a>
                    </li>
                    <li>
                        Icone - <a href="https://heroicons.com">Heroicons</a>
                    </li>
                </ol>
            </article>
        </div>
    </section>
{% endblock content %}
