{% extends "base.html" %}
{% block page_title %}
    Disclaimer
{% endblock page_title %}
{% block content %}
    <section>
        <div class="grid px-4 pt-8 pb-4 mx-auto max-w-screen-lg lg:gap-8 lg:pt-16 lg:pb-8 xl:gap-0">
            <h1 class="mb-4 text-2xl font-semibold tracking-tight text-center">Disclaimer</h1>
            <article class="max-w-none prose prose-img:w-full lg:prose-img:w-2/3 lg:prose-img:mx-auto">
                <p>
                    Le informazioni fornite sul sito sono fornite dagli utenti stessi e non sono verificate. L'autore del sito non si assume alcuna responsabilità per l'accuratezza delle informazioni fornite. L'utente è responsabile di verificare l'accuratezza delle informazioni fornite e di contattare la scuola in caso di dubbi.
                    <br>
                    Questo servizio non è collegato in alcun modo alle scuole e non sostituisce il menu fornito sul sito istituzionale delle stesse.
                </p>
            </article>
        </div>
    </section>
{% endblock content %}
