{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Guida
{% endblock page_title %}

{% block content %}
    <section>
        <div class="grid px-4 pt-8 pb-4 mx-auto max-w-screen-lg lg:gap-8 lg:pt-16 lg:pb-8 xl:gap-0">
            <h1 class="mb-4 text-2xl font-semibold tracking-tight text-center">Guida all'utilizzo</h1>
            <article class="max-w-none prose prose-img:w-full lg:prose-img:w-2/3 lg:prose-img:mx-auto">
                <h4>Impostazioni relative alla scuola</h4>
                <p>
                    Quando crei il tuo utente verrai reindirizzato al tuo profilo dove creare la scuola. In questa maschera devi inserire il nome della scuola e la città (il nome della scuola viene usato per creare il link del menu giornaliero quindi è consigliabile non modificare questo parametro).
                </p>
                <img src="{% static 'img/help/maschera_crea_scuola.jpg' %}"
                     alt="Maschera Crea Scuola">
                <p>
                    Nel campo <b>Tipo di Menù</b> puoi selezionare <b>Semplice</b> (adatto a scuole dell'infanzia e asili con un campo menu unificato) oppure <b>Dettagliato</b> (per le altre scuole con i campi separati per primo, secondo, contorno e spuntino). Di solito i menu scolastici sono divisi in stagione Invernale e Primaverile. Nella sezione <b>Stagione</b> puoi scegliere se pasare automaticamente da un menu stagionale all'altro oppure selezionare manualmente il menu stagionale (se la tua scuola ad esempio non segue strettamente il calendario). Infine nel campo <b>Scarto</b> puoi selezionare un numero fra 0 e 3 per allineare la settimana 1 del menu inserito con quella effettivamente in scorso.
                </p>
                <h4>Sezione Menu</h4>
                <p>
                    In questa sezione puoi inserire o modificare i singoli menù giornalieri selezionando il tasto modifica di fianco ad ogni settimana (contrassegnato da <b>A</b> nell'immagine seguente). Nella pagina seguente potrai inserire inserire i menù giornalieri oppure modificare quelli già inseriti. Se preferisci puoi utilizzare la funzione per caricare i menu in formato excel utilizzando il bottone <b>Carica Menu</b> contrassegnato da <b>B</b>.
                </p>
                <img src="{% static 'img/help/sezione_menu.jpg' %}" alt="Sezione Menu">
                <p>
                    Nella finestra che compare dopo aver cliccato sul bottone <b>Carica Menu</b> è possibile caricare in un unica operazione tutti i menu delle 4 settimane della stagione (che va selezionata nel menu a tendina sotto la voce <b>Stagionalità</b>). È possibile scaricare un file di esempio (diverso a seconda del tipo di menù scelto) da compilare con i menu che poi potrà essere caricato sul sito. Il caricamento del file sovrascriverà in maniera definitiva i menu già salvati.
                </p>
                <img src="{% static 'img/help/carica_menu.jpg' %}"
                     alt="Finestra Carica Menu">
            </article>
        </div>
    </section>
{% endblock content %}
