{% extends "base.html" %}

{% block page_title %}
    Info
{% endblock page_title %}

{% block content %}
    <div class="grid px-4 pt-8 pb-4 mx-auto max-w-screen-lg lg:gap-8 lg:pt-16 lg:pb-8 xl:gap-0">
        <section id="project">
            <h1 class="mb-4 text-2xl font-semibold tracking-tight text-center">Progetto</h1>
            <article class="max-w-none prose prose-img:w-full lg:prose-img:w-2/3 lg:prose-img:mx-auto">
                <p>
                    Questo sito permette di convertire in maniera semplice il menu fornito dalla scuola (di solito in formato PDF o XLSX, suddiviso in settimane senza fornire la settimana in contrassegnato) in un formato più leggibile e consultabile. Creando un account sarà possibile creare la scuola e impostare il menu (seguendo la <a href="{% url 'school_menu:help' %}">guida</a>). Successivamente sarà possibile consultare il menu giornaliero relativo ai giorni della settimana in corso e condividerlo con gli altri genitori utilizzando la sezione <b>Condividi</b>.
                </p>
                <p>
                    Questo progetto non è in alcun modo collegato alle scuole, non vuole sostituire le informazioni fornite dai loro sito istituzionale ma solo fornire un accesso più comodo al menu giornaliero e rispondere alla domanda: <em>"Cosa ha mangiato mio figlio oggi?"</em>. Per qualsiasi segnalazione o richiesta di informazioni sarà possibile contattare l'autore del menu trasmite un form dedicato senza che sia reso pubblico il contatto dell'autore. Potete inoltre contattare il creatore del sito tramite il form di contatto.
                </p>
            </article>
        </section>
        <section id="disclaimer" class="mt-4 lg:mt-8">
            <h1 class="mb-4 text-2xl font-semibold tracking-tight text-center">Disclaimer</h1>
            <article class="max-w-none prose prose-img:w-full lg:prose-img:w-2/3 lg:prose-img:mx-auto">
                <p>
                    Le informazioni fornite sul sito sono fornite dagli utenti stessi e non sono verificate. L'autore del sito non si assume alcuna responsabilità per l'accuratezza delle informazioni fornite. L'utente è responsabile di verificare l'accuratezza delle informazioni fornite e di contattare la scuola in caso di dubbi.
                    <br>
                    Questo servizio non è collegato in alcun modo alle scuole e non sostituisce il menu fornito sul sito istituzionale delle stesse.
                </p>
            </article>
        </section>
        <section id="credits" class="mt-4 lg:mt-8">
            <h1 class="mb-4 text-2xl font-semibold tracking-tight text-center">Crediti</h1>
            <article class="max-w-none prose prose-img:w-full lg:prose-img:w-2/3 lg:prose-img:mx-auto">
                <h2>Icone</h2>
                <p>
                    Questo sito utilizza le icone di <a href="https://heroicons.com">Heroicons</a> ad eccezione di alcuni casi elencati di seguito:
                </p>
                <ol class="list-decimal list-inside">
                    <li>
                        Logo del progetto - <a href="https://www.flaticon.com/free-icons/food" title="food icons">Freepik - Flaticon</a>
                    </li>
                    <li>
                        Sfondo Home Page - <a href="https://www.freepik.com/free-photo/top-view-green-fruits-vegetables_22635023.htm#fromView=search&page=3&position=3&uuid=6cfaddb4-f823-40ad-8ecb-3eff5b8ae9b9">Image by Freepik</a>
                    </li>
                    <li>
                        Icone Menu Alternativi - <a href="https://www.flaticon.com/packs/real-food-7">Real food | Lineal by Freepik - Flaticon</a>
                    </li>
                     <li>
                        Icona Pausa Estiva - <a href="https://www.flaticon.com/free-icons/cancel" title="cancel icons">Cancel icons by Freepik - Flaticon</a>
                    </li>
                </ol>
            </article>
        </section>
    </div>
{% endblock content %}
