{% extends "base.html" %}


{% block page_title %}Info{% endblock page_title %}
    

{% block content %}
    <div class="container my-4 px-3">
        <h3 class="my-4">Informazioni</h3>
        <p>Questo sito permette di visualizzare il menu della Scuola Carlo Alberto di Novara (come specificato nel file fornito sul sito della scuola) in maniera piu intuitiva selezionando in automatico il menu della settimana in corso in base alla data di visita.</p>
        <p>Questo progetto non è in alcun modo collegato alla Scuola Carlo Alberto di Novara, non vuole sostituire le informazioni fornite dal loro sito istituzionale ma solo fornire un accesso più comodo al menu giornaliero e rispondere alla domanda: <em>"Cosa ha mangiato mio figlio oggi?"</em></p>
    </div>
{% endblock content %}
    