{% extends 'base-simplified.html' %}

{% block page_title %}
    Errore 404
{% endblock page_title %}

{% block content %}
    <section class="bg-base-100 flex h-screen items-center p-16">
        <div class="container flex flex-col items-center">
            <div class="flex max-w-md flex-col gap-2 text-center md:gap-4">
                <h1 class="text-secondary text-5xl font-extrabold md:text-8xl">
                    <span class="sr-only">Errore</span>404
                </h1>
                <p class="text-2xl leading-tight text-pretty md:text-3xl">Spiacenti, la pagina cercata non esiste</p>
                <a href="{% url 'school_menu:index' %}" class="link link-secondary">Ritorna alla Home</a>
            </div>
        </div>
    </section>
{% endblock content %}
