{% extends 'base-simplified.html' %}

{% block page_title %}
    Errore 404
{% endblock page_title %}

{% block content %}
    <section class="flex items-center p-16 h-screen bg-white">
        <div class="container flex flex-col items-center">
            <div class="flex flex-col gap-2 max-w-md text-center md:gap-4">
                <h1 class="text-5xl font-extrabold md:text-8xl text-secondary">
                    <span class="sr-only">Errore</span>404
                </h1>
                <p class="text-2xl leading-tight md:text-3xl text-pretty">Spiacenti, la pagina cercata non esiste</p>
                <a href="{% url 'school_menu:index' %}" class="link link-secondary">Ritorna alla Home</a>
            </div>
        </div>
    </section>
{% endblock content %}
