{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mensa Scolastica">
        <meta name="keywords" content="menu scolastico mensa">
        <title>
            {% block page_title %}
                Mensa Scolastica
            {% endblock page_title %}
        </title>
        {% progressive_web_app_meta %}
        <!--Favicons-->
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'img/favicon-16x16.png' %}">
        <link rel="mask-icon"
              href="{% static 'img/safari-pinned-tab.svg' %} "
              color="#5bbad5">
        <!-- TailwindCSS -->
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
        <!-- HTMX -->
        <script defer src="{% static 'js/htmx.min.js' %}"></script>
        <!-- Alpine.js -->
        <script defer src="{% static 'js/alpine-focus.min.js' %}"></script>
        <script defer src="{% static 'js/alpine-collapse.min.js' %}"></script>
        <script defer src="{% static 'js/alpine-clipboard.min.js' %}"></script>
        <script defer src="{% static 'js/alpine.min.js' %}"></script>
        <!-- Umami Analytics Code -->
        <script defer
                src="https://analytics.local.webbografico.com/script.js"
                data-website-id="746fd00c-77c2-4b88-b5a6-208648d5e5cb"
                data-domains="menu.webbografico.com,menu.local.webbografico.com"></script>
        <!-- Custom JS -->
        <script defer src="{% static 'js/custom.js' %}"></script>
    </head>
    <body>
        <div class="container mx-auto">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
