{% load cookiebanner pwa static %}
<!DOCTYPE html>
<html lang="it" data-theme="cupcake">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mensa Scolastica">
        <meta name="keywords" content="menu scolastico mensa">
        <title>
            {% block page_title %}
                Mensa Scolastica
            {% endblock page_title %}
        </title>
        {% progressive_web_app_meta %}
        {% include 'partials/favicon.html' %}
        <!-- TailwindCSS -->
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
        {% include 'partials/javascript.html' %}
        {% block add_js %} {% endblock %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% cookiebanner_modal 'bottom_banner' %}
        <div id="fb-root"></div>
        <script async
                defer
                crossorigin="anonymous"
                src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v20.0"
                nonce="6qSLf5Dz"></script>
        {% include 'partials/navbar.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'partials/footer.html' %}
        <!-- Modal -->
        {% include 'partials/modal.html' %}
        <!-- Messages -->
        <div id="messages" class="z-3" hx-boost="true">{% include 'partials/messages.html' %}</div>
    </body>
    <script>
        document.addEventListener('alpine:init', () => {
            // Magic: $tooltip
            Alpine.magic('tooltip', el => message => {
                let instance = tippy(el, { content: message, trigger: 'manual' })

                instance.show()

                setTimeout(() => {
                    instance.hide()

                    setTimeout(() => instance.destroy(), 150)
                }, 2000)
            })

            // Directive: x-tooltip
            Alpine.directive('tooltip', (el, { expression }) => {
                tippy(el, { content: expression })
            })
        })
    </script>
</html>
