{% load pwa static webpush_notifications %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mensa Scolastica">
        <meta name="keywords" content="menu scolastico mensa">
        <title>
            {% block page_title %}
                Mensa Scolastica
            {% endblock page_title %}
        </title>
        {% progressive_web_app_meta %}
        {% webpush_header %}
        {% include 'partials/favicon.html' %}
        <!-- TailwindCSS -->
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
        {% include 'partials/javascript.html' %}
    </head>
    <body>
        <div class="container mx-auto">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
