{% load cookiebanner static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mensa Scolastica">
        <meta name="keywords" content="menu scolastico mensa">
        <title>
            {% block page_title %}
                Mensa Scolastica
            {% endblock page_title %}
        </title>
        <!--Favicon and other images-->
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/site.webmanifest' %} ">
        <link rel="mask-icon"
              href="{% static 'img/safari-pinned-tab.svg' %} "
              color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
        <!-- TailwindCSS -->
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
        <!-- Tooltip -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/tippy-bundle.umd.min.js' %}"></script>
        <!-- HTMX -->
        <script defer src="{% static 'js/htmx.min.js' %}"></script>
        <!-- Alpine.js -->
        <script defer src="{% static 'js/alpine-focus.min.js' %}"></script>
        <script defer src="{% static 'js/alpine-collapse.min.js' %}"></script>
        <script defer src="{% static 'js/alpine-clipboard.min.js' %}"></script>
        <script defer src="{% static 'js/alpine.min.js' %}"></script>
        <!-- Umami Analytics Code -->
        <script defer
                src="http://analytics.local.webbografico.com/script.js"
                data-website-id="746fd00c-77c2-4b88-b5a6-208648d5e5cb"
                data-domains="menu.webbografico.com,menu.local.webbografico.com"></script>
        <!-- Custom JS -->
        <script defer src="{% static 'js/custom.js' %}"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% cookiebanner_modal 'bottom_banner' %}
        <div id="fb-root"></div>
        <script async
                defer
                crossorigin="anonymous"
                src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v20.0"
                nonce="6qSLf5Dz"></script>
        {% include 'partials/navbar.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'partials/footer.html' %}
        <!-- Modal -->
        {% include 'partials/modal.html' %}
        <!-- Messages -->
        <div id="messages" class="z-3" hx-boost="true">{% include 'partials/messages.html' %}</div>
    </body>
    <script>
        document.addEventListener('alpine:init', () => {
            // Magic: $tooltip
            Alpine.magic('tooltip', el => message => {
                let instance = tippy(el, { content: message, trigger: 'manual' })

                instance.show()

                setTimeout(() => {
                    instance.hide()

                    setTimeout(() => instance.destroy(), 150)
                }, 2000)
            })

            // Directive: x-tooltip
            Alpine.directive('tooltip', (el, { expression }) => {
                tippy(el, { content: expression })
            })
        })
    </script>
</html>
