{% load cookiebanner pwa static %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
              content="{% block meta_description %}Menu della mensa scolastica sempre aggiornato: consulta online cosa mangiano i tuoi figli a scuola, giorno per giorno.{% endblock %}">
        <meta name="keywords" content="menu scolastico mensa">
        <title>
            {% block page_title %}
                Mensa Scolastica
            {% endblock page_title %}
        </title>
        {% block robots_meta %}
        {% endblock robots_meta %}
        <link rel="canonical"
              href="{% block canonical_url %}{{ request.scheme }}://{{ request.get_host }}{{ request.path }}{% endblock %}">
        <!-- Open Graph -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Mensa Scolastica">
        <meta property="og:title"
              content="{% block og_title %}Mensa Scolastica{% endblock %}">
        <meta property="og:description"
              content="{% block og_description %}Menu della mensa scolastica sempre aggiornato: consulta online cosa mangiano i tuoi figli a scuola, giorno per giorno.{% endblock %}">
        <meta property="og:url"
              content="{% block og_url %}{{ request.scheme }}://{{ request.get_host }}{{ request.path }}{% endblock %}">
        <meta property="og:image"
              content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'img/android-chrome-512x512.png' %}{% endblock %}">
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title"
              content="{% block twitter_title %}Mensa Scolastica{% endblock %}">
        <meta name="twitter:description"
              content="{% block twitter_description %}Menu della mensa scolastica sempre aggiornato: consulta online cosa mangiano i tuoi figli a scuola, giorno per giorno.{% endblock %}">
        {% block structured_data %}
        {% endblock structured_data %}
        {% progressive_web_app_meta %}
        {% include 'partials/favicon.html' %}
        <!-- TailwindCSS -->
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
        {% include 'partials/javascript.html' %}
        {% block add_js %}
        {% endblock add_js %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% cookiebanner_modal 'bottom_banner' %}
        {% include 'partials/navbar.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'partials/footer.html' %}
        <!-- Modal -->
        {% include 'partials/modal.html' %}
        <!-- Messages -->
        <div id="messages" class="z-3" hx-boost="true">{% include 'partials/messages.html' %}</div>
    </body>
    <script nonce="{{ request.csp_nonce }}">
        document.addEventListener('alpine:init', () => {
            // Magic: $tooltip
            Alpine.magic('tooltip', el => message => {
                let instance = tippy(el, { content: message, trigger: 'manual' })

                instance.show()

                setTimeout(() => {
                    instance.hide()

                    setTimeout(() => instance.destroy(), 150)
                }, 2000)
            })

            // Directive: x-tooltip
            Alpine.directive('tooltip', (el, { expression }) => {
                tippy(el, { content: expression })
            })
        })
    </script>
</html>
