{% load filters heroicons static %}
<div class="modal-content">
    <div class="flex justify-between items-center p-3 pb-4 rounded-t border-b md:p-4 dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Scarica il tuo menu ({{ active_menu|type_label|capfirst }})
        </h3>
        <button type="button"
                class="inline-flex justify-center items-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:text-gray-900 hover:bg-gray-200 ms-auto dark:hover:bg-gray-600 dark:hover:text-white"
                x-on:click="openModal = false">
            {% heroicon_solid 'x-mark' class="size-7" %}
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <div class="grid gap-y-4 gap-x-8 py-3 px-5 mt-3 {% if summer_meals or winter_meals %}sm:grid-cols-2{% endif %} md:py-4 md:px-6">
        {% if school.annual_menu %}
            {% if annual_meals %}
                <a href="{% url 'school_menu:export_menu' school.id 2 active_menu %}"
                   class="inline-flex items-center btn btn-success"
                   download="menu_{{ school.name }}_annuale_{{ active_menu|type_label }}">
                    Menu {{ active_menu|type_label|capfirst }}
                    {% heroicon_solid 'arrow-down-tray' class="size-4 ms-2" %}
                </a>

            {% else %}
                <div class="flex items-center p-2 mb-4 text-center text-red-800 bg-red-50 rounded border border-red-200">
                    {% heroicon_solid 'exclamation-triangle' class="size-5 me-2 lg:me-4" %}
                    <span class="text-sm italic">Non hai ancora inserito nessun pasto nel menu della scuola.</span>
                </div>
            {% endif %}
        {% else %}
            {% if not summer_meals and not winter_meals %}
                <div class="flex items-center p-2 mb-4 text-center text-red-800 bg-red-50 rounded border border-red-200">
                    {% heroicon_solid 'exclamation-triangle' class="size-5 me-2 lg:me-4" %}
                    <span class="text-sm italic">Non hai ancora inserito nessun pasto nel menu della scuola.</span>
                </div>
            {% else %}
                <a href="{% url 'school_menu:export_menu' school.id 2 active_menu %}"
                   class="inline-flex items-center btn btn-success"
                   download="menu_{{ school.name }}_inv_{{ active_menu|type_label }}"
                   {% if not winter_meals %}disabled="disabled"{% endif %}>
                    Menu Invernale
                    {% heroicon_solid 'arrow-down-tray' class="size-4 ms-2" %}
                </a>
                <a href="{% url 'school_menu:export_menu' school.id 1 active_menu %}"
                   class="inline-flex items-center btn btn-success"
                   download="menu_{{ school.name }}_est_{{ active_menu|type_label }}"
                   {% if not summer_meals %}disabled="disabled"{% endif %}>
                    Menu Estivo
                    {% heroicon_solid 'arrow-down-tray' class="size-4 ms-2" %}
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
