{% extends 'base.html' %}


{% block page_title %}Menu Scolastico{% endblock page_title %}


{% block content %}
<div class="container my-4">

    {% include 'partials/_menu.html' %}

    <div class="container-fluid text-center my-3" id="season">
        <a href="#" class="btn btn-secondary disabled btn-sm" aria-disabled="true">STANDARD</a>
        <!--<a href="#" class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true">NO GLUTINE</a>-->
        <a href="#" class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true">NO LATTOSIO</a>
    </div>
    <footer class="text-center mt-4 text-muted">
        <p>Crafted with <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg> by WEBBOgrafico</p>
        <p>Logo <a href="https://www.flaticon.com/free-icons/food" class="text-secondary ">Flaticon</a>
    </footer>
</div>

{% endblock content %}