{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mensa Scolastica">
        <meta name="keywords" content="menu scolastico mensa">
        <title>Menu Scolastico Offline</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
                font-family: sans-serif;
                background-color: #f8f9fa;
                color: #989898;
            }
            body {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            h1 {
                font-size: 24px;
                margin-top: 0;
            }
        </style>
</head>
<body>
<h1>Non sei connesso a internet al momento. Verifica la tua connessione e ricarica la pagina.</h1>
</body>
</html>
