{% extends 'base.html' %}
{% load heroicons partials %}
{% block page_title %}
    Tutte le scuole
{% endblock page_title %}

{% block content %}
<div class="container mx-auto mb-8 max-w-screen-lg">
    <div class="grid px-4 pt-8 pb-4 mx-auto max-w-screen-lg lg:gap-8 lg:pt-16 lg:pb-8 xl:gap-0">
        <h1 class="mb-4 text-2xl font-semibold tracking-tight text-center">Scuole</h1>
        <p class="text-gray-700">
            Qui puoi vedere tutte le scuole e i relativi menu creati dai nostri utenti. Non siamo responsabili della correttezza dei menu pubblicati.
        </p>
        <div class="grid grid-cols-1 gap-3 mx-auto max-w-screen-xl md:grid-cols-2 grid-cols">
            <!-- School Search -->
            <div id="search" class="my-4 md:order-last">
                <div class="flex items-center mx-auto mb-4 max-w-sm">
                    <label for="simple-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="flex absolute inset-y-0 items-center pointer-events-none start-0 ps-3">
                            {% heroicon_outline 'magnifying-glass' class="w-5 h-5 text-green-600" %}
                        </div>
                        <input type="text"
                                id="simple-search"
                                name="q"
                                hx-get="{% url 'school_menu:search_schools' %}"
                                hx-swap="outerHTML"
                                hx-trigger="keyup changed delay:1s"
                                hx-target="#school-list"
                                hx-indicator="#spinner"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 dark:placeholder-gray-400 dark:text-white dark:bg-gray-700 dark:border-gray-600 focus:border-green-500 focus:ring-green-500 ps-10 dark:focus:ring-green-500 dark:focus:border-green-500"
                                placeholder="Cerca scuola o città..."
                                autocomplete="off"
                                required />
                        <span id="spinner"
                                class="absolute top-2 htmx-indicator loading loading-bars text-primary loading-md end-4"></span>
                    </div>
                </div>
                <hr class="my-3 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:hidden">
            </div>
            <!-- School List -->
            {% partialdef search-result inline=true %}
            <div id="school-list">
                <ul class="md:mt-6">
                    {% if no_schools %}
                        <p class="italic font-light text-red-600">Nessuna scuola soddisfa i criteri di ricerca...</p>
                    {% else %}
                        {% for school in schools %}
                            <li class="mb-3">
                                <a class="font-medium text-gray-600 hover:text-green-600 hover:underline underline-offset-2"
                                    href="{{ school.get_absolute_url }}">{{ school.name }} ({{ school.city }})
                                    {% if index %}
                                        {% heroicon_solid 'arrow-right-circle' class="text-green-600 size-5 ms-2" %}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        {% endpartialdef %}
        </div>
    </div>
</div>
{% endblock content %}
