{% extends 'base.html' %}
{% load filters heroicons partials static %}
{% block page_title %}
    Impostazioni
{% endblock page_title %}

{% block content %}
<!-- INFO -->
{% include 'partials/_settings_info.html' %}
<!-- SCHOOL -->
{% partialdef school inline %}
{% include 'partials/_settings_school.html' %}
{% endpartialdef %}
<!-- MENU  -->
{% partialdef menu inline %}
{% include 'partials/_settings_menu.html' %}
{% endpartialdef %}
<!-- ACCOUNT -->
{% include 'partials/_settings_account.html' %}
{% endblock content %}
