{% extends 'base.html' %}
{% load partials heroicons filters %}
{% block page_title %}
    Impostazioni
{% endblock page_title %}
{% block content %}
    <section>
        <div class="grid px-4 pt-8 pb-4 mx-auto max-w-screen-lg lg:gap-8 lg:pt-16 lg:pb-8 xl:gap-0">
            <h1 class="my-4 text-2xl font-semibold tracking-tight text-center">Impostazioni</h1>
            <p>
                Bentornato <span class="font-bold">{{ user.email }}</span>. Qui di seguito puoi rivedere e modificare le tue impostazioni relative alla scuola e al menu di tuo figlio. Puoi caricare i menu settimanali oppure modificare quelli già presenti.
            </p>
            <div class="block p-6 mt-6 bg-white rounded-lg border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700"
                 id="school">
                <!-- SCHOOL -->
                {% partialdef school inline=True %}
                <h3 class="mb-2 text-2xl font-bold tracking-tight text-center text-gray-900 md:text-left dark:text-white grow">
                    Scuola
                </h3>
                {% if user.school %}
                    <div class="grid grid-cols-1 mb-4 font-normal text-gray-700 md:grid-cols-2">
                        <ul class="leading-10" id="school-settings">
                            <li>
                                <span class="font-bold">Nome:</span> {{ user.school.name }}
                            </li>
                            <li>
                                <span class="font-bold">Città:</span> {{ user.school.city }}
                            </li>
                            <li>
                                <span class="font-bold">Tipo di Menu:</span> {{ user.school.get_menu_type_display }}
                            </li>
                        </ul>
                        <ul class="leading-10" id="meal-settings">
                            <li>
                                <span class="font-bold">Stagione:</span> {{ user.school.get_season_choice_display }}
                            </li>
                            <li>
                                <span class="font-bold">Scarto Settimana:</span> {{ user.school.week_bias }}
                            </li>
                        </ul>
                    </div>
                    <div class="md:text-right">
                        <button class="inline-flex justify-center items-center mt-2 w-full md:w-auto btn btn-sm btn-danger"
                                hx-target="#school"
                                hx-swap="innerHTML"
                                hx-get="{% url 'school_menu:school_update' %}">
                            Modifica
                            {% heroicon_solid 'pencil' class="hidden text-white md:block size-4 ms-2" %}
                        </button>
                    </div>
                {% else %}
                    <p class="italic font-normal text-gray-700 dark:text-gray-400">Nessuna scuola associata al tuo account</p>
                    <button class="mt-2 w-full md:w-auto btn btn-sm btn-primary"
                            hx-target="#school"
                            hx-swap="innerHTML"
                            hx-get="{% url 'school_menu:school_create' %}">Crea</button>
                {% endif %}
                <div hx-swap-oob="innerHTML:#messages">{% include "partials/messages.html" %}</div>
            {% endpartialdef %}
        </div>
        <!-- MENU  -->
        {% partialdef menu inline=true %}
        <div class="block p-6 mt-6 bg-white rounded-lg border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700"
             id="menu"
             hx-get="{% url 'school_menu:menu_settings' user.pk %}"
             hx-swap="innerHTML"
             hx-trigger="menuModified from:body">
            <div class="grid grid-cols-1 mb-6 text-center md:grid-cols-2 md:text-left">
                <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Menu</h3>
                <div x-data id="menu_upload" class="text-center md:text-right">
                    <button class="inline-flex items-center mr-2 group btn btn-sm btn-disabled"
                            disabled>
                        <span class="hidden sm:block">Scarica&nbsp;</span> Menu
                        {% heroicon_solid 'arrow-down-on-square-stack' class="text-gray-400 size-5 ms-2" %}
                    </button>
                    <button class="inline-flex items-center group btn btn-sm btn-dark-outline"
                            hx-get="{% url 'school_menu:upload_menu' user.school.id %}"
                            hx-target="#dialog"
                            hx-swap="innerHTML"
                            @click="$dispatch('open-modal')">
                        <span class="hidden sm:block">Carica&nbsp;</span>Menu
                        {% heroicon_solid 'arrow-up-on-square-stack' class="text-gray-700 group-hover:text-white size-5 ms-2" %}
                    </button>
                </div>
                <div hx-swap-oob="innerHTML:#messages">{% include "partials/messages.html" %}</div>
            </div>
            <div class="grid grid-cols-1 gap-y-2 gap-x-4 md:grid-cols-2 md:gap-x-6 md:gp-y-4">
                <!--  Settimane Autunno/Inverno  -->
                <div class="grid grid-cols-1 gap-y-2" id="winter-weeks">
                    <h4 class="mb-2 text-lg font-bold tracking-tight text-center md:text-left">Autunno / Inverno</h4>
                    {% for week in 4|weeks %}
                        <div class="flex items-center">
                            <h5 class="mr-8 font-medium grow md:grow-0">Settimana {{ week }}</h5>
                            <a class="inline-flex items-center btn btn-xs btn-danger-outline group"
                               href="{% url 'school_menu:create_weekly_menu' user.school.id week 2 %}"
                               hx-boost="true">
                                Modifica
                                {% heroicon_mini 'pencil' class="text-red-700 group-hover:text-white size-4 ms-2" %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <hr class="my-3 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:hidden">
                <!--  Settimane Primavera/Estate  -->
                <div class="grid grid-cols-1 gap-y-2" id="spring-weeks">
                    <h4 class="mb-2 text-lg font-bold tracking-tight text-center md:text-left">Primavera / Estate</h4>
                    {% for week in 4|weeks %}
                        <div class="flex items-center">
                            <h5 class="mr-8 font-medium grow md:grow-0">Settimana {{ week }}</h5>
                            <a class="inline-flex items-center btn btn-xs btn-danger-outline group"
                               href="{% url 'school_menu:create_weekly_menu' user.school.id week 1 %}"
                               hx-boost="true">
                                Modifica
                                {% heroicon_mini 'pencil' class="text-red-700 group-hover:text-white size-4 ms-2" %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endpartialdef %}
    </div>
</div>
</section>
{% endblock content %}
