{% extends 'base.html' %}
{% load partials %}
{% block page_title %}
    Impostazioni
{% endblock page_title %}
{% block content %}
    <section>
        <div class="grid px-4 pt-8 pb-4 mx-auto max-w-screen-lg lg:gap-8 lg:pt-16 lg:pb-8 xl:gap-0">
            <h1 class="my-4 text-2xl font-semibold tracking-tight text-center">Impostazioni</h1>
            <p>
                Bentornato <span class="font-bold">{{ user.email }}</span>. Qui di seguito puoi rivedere e modificare le tue impostazioni relative alla scuola e al menu di tuo figlio
            </p>
            <div class="grid grid-cols-1 gap-4 mt-6 md:grid-cols-2">
                <div class="block p-6 bg-white rounded-lg border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700"
                     id="school">
                    {% partialdef school inline=True %}
                    <div class="mb-2">
                        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white grow">Scuola</h5>
                    </div>
                    {% if user.school %}
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            <ul class="leading-10">
                                <li>
                                    <span class="font-bold">Nome:</span> {{ user.school.name }}
                                </li>
                                <li>
                                    <span class="font-bold">Città:</span> {{ user.school.city }}
                                </li>
                            </ul>
                        </p>
                        <button class="w-full md:w-auto btn btn-sm btn-primary"
                                hx-target="#school"
                                hx-swap="innerHTML"
                                hx-get="{% url 'school_menu:school_update' %}">Modifica</button>
                    {% else %}
                        <p class="italic font-normal text-gray-700 dark:text-gray-400">Nessuna scuola associata al tuo account</p>
                        <button class="w-full md:w-auto btn btn-sm btn-primary"
                                hx-target="#school"
                                hx-swap="innerHTML"
                                hx-get="{% url 'school_menu:school_create' %}">Crea</button>
                    {% endif %}
                {% endpartialdef %}
            </div>
            <div class="block p-6 bg-white rounded-lg border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700"
                 id="settings">
                {% partialdef settings inline=True %}
                <div class="mb-2">
                    <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Menu</h5>
                </div>
                {% if user.settings %}
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        <ul class="mb-2 leading-10">
                            <li>
                                <span class="font-bold">Stagione:</span> {{ user.settings.get_season_choice_display }}
                            </li>
                            <li>
                                <span class="font-bold">Scarto:</span> {{ user.settings.week_bias }}
                            </li>
                        </ul>
                    </p>
                    <button class="w-full md:w-auto btn btn-sm btn-primary"
                            hx-target="#settings"
                            hx-swap="innerHTML"
                            hx-get="{% url 'school_menu:settings_update' %}">Modifica</button>
                {% else %}
                    <p class="mb-4 italic font-normal text-gray-700 dark:text-gray-400">Nessuna impostazione associata al tuo menu</p>
                    <button class="w-full md:w-auto btn btn-sm btn-primary"
                            hx-get="{% url 'school_menu:settings_create' %}"
                            hx-target="#settings"
                            hx-swap="innerHTML">Crea</button>
                {% endif %}
            {% endpartialdef %}
        </div>
    </div>
</div>
</section>
{% endblock content %}
