{% load crispy_forms_tags filters heroicons static %}
<form method="post"
      enctype="multipart/form-data"
      hx-post="{{ request.path }}"
      hx-swap="innerHTML"
      hx-target="#dialog"
      hx-disabled-elt="#form-submit"
      class="modal-content">
    <div class="flex justify-between items-center p-3 pb-4 rounded-t border-b md:p-4 dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Carica il tuo menu {% if school.annual_menu %}(Annuale){% else %}({{ active_menu|type_label|capfirst }}){% endif %}</h3>
        <button type="button"
                class="inline-flex justify-center items-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:text-gray-900 hover:bg-gray-200 ms-auto dark:hover:bg-gray-600 dark:hover:text-white"
                x-on:click="openModal = false">
            {% heroicon_solid 'x-mark' class="size-7" %}
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <div class="py-3 px-5 mt-3 md:py-4 md:px-6">{% crispy form %}</div>
    <div class="px-5 pb-3 text-right md:px-6 md:pb-4">
        <button type="submit" class="mr-2 btn btn-primary">Salva</button>
        <button type="button"
                class="btn btn-danger-outline"
                x-on:click="openModal = false">Annulla</button>
    </div>
</form>
<div class="m-12 mb-4">
    <div class="divider">FILE DI ESEMPIO</div>
</div>
<div class="py-3 px-5 my-4 mx-6">
    <p class="mb-3 italic">Scarica il file di esempio e personalizzalo con i pasti della scuola di tuo figlio</p>
    <ul class="space-y-4 text-center">
        <li>
            <a href="{% static 'files/EsempioMenuSemplice.csv' %}"
               class="inline-flex items-center btn btn-secondary btn-outline btn-sm"
               download>
                Menu Semplice
                {% heroicon_solid 'arrow-down-tray' class="size-4 ms-2" %}
            </a>
        </li>
        <li>
            <a href="{% static 'files/EsempioMenuDettagliato.csv' %}"
               class="inline-flex items-center btn btn-secondary btn-outline btn-sm"
               download>
                Menu Dettagliato
                {% heroicon_solid 'arrow-down-tray' class="size-4 ms-2" %}
            </a>
        </li>
    </ul>
    <div class="flex items-center py-2 px-6 m-auto mt-5 text-center text-red-800 bg-red-50 rounded border border-red-200">
        {% heroicon_solid 'exclamation-triangle' class="size-5 me-2 lg:me-4" %}
        <span class="text-sm italic">Attenzione, il menu caricato sovrascriverà il menu presente in maniera definitiva</span>
    </div>
</div>
