{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mx-auto mb-8 max-w-2xl sm:mt-6 sm:px-4">
    <div class="bg-base-300/50 border-base-300 sm:bg-base-100 sm:rounded-box grid gap-6 border-y p-5 pt-8 pb-8 sm:border sm:p-6 sm:shadow-sm lg:p-12">
        <h1 class="text-center text-xl font-semibold tracking-tight text-pretty md:text-2xl">Contatti</h1>
        <p class="text-base-content/80 text-base/6">
            Compila il form sottostante per richiedere informazioni, aiuto oppure semplicemente per farci sapere che trovi il progetto utile. Anche suggerimenti su come migliorare il servizio sono ben accetti.
        </p>
        <form method="post" class="flex flex-col gap-4">
            {% crispy form %}
            <div class="md:text-right">
                <button type="submit"
                        name="submit"
                        class="btn btn-sm btn-primary w-full md:w-auto">
                    Invia Messaggio
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
