{% load filters heroicons %}
<div class="modal-content">
    <div class="border-base-300 flex items-center justify-between rounded-t border-b p-3 pb-4 md:p-4">
        <h3 id="report-detail-title"
            data-modal-title
            class="text-base-content text-xl font-semibold">Segnalazione da {{ report.name }}</h3>
        <button type="button"
                class="text-base-content/50 hover:bg-base-200 hover:text-base-content ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm"
                x-on:click="openModal = false">
            {% heroicon_solid 'x-mark' class="size-7" %}
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <div class="px-5 py-3 md:px-6 md:py-4">
        <div class="alert alert-info mb-4" role="alert">
            {% heroicon_solid 'envelope' class='inline flex-shrink-0 w-4 h-4' %}
            <span class="sr-only">Messaggio Ricevuto</span>
            <div>{{ report.message }}</div>
        </div>
        <div id="actions" class="flex items-center justify-end gap-2">
            <button class="btn btn-sm dark:btn-soft flex items-center"
                    hx-get="{% url 'contacts:report_list' %}"
                    hx-target="#dialog"
                    hx-swap="innerHTML"
                    @click="$dispatch('open-modal')">
                {% heroicon_outline 'arrow-left' class='size-5' %}Indietro
            </button>
            <button class="flex items-center btn btn-sm dark:btn-soft"
                    hx-get="{% url 'contacts:report_feedback' report.pk %}"
                    hx-target="#dialog"
                    hx-swap="innerHTML"
                    @click="$dispatch('open-modal')"
                    {% if not report.get_notified %}disabled{% endif %}>
                {% heroicon_outline 'envelope' class='size-5' %}Rispondi
            </button>
            <button class="btn btn-sm btn-error flex items-center"
                    hx-post="{% url 'contacts:report_delete' report.pk %}"
                    hx-target="#dialog"
                    hx-swap="innerHTML"
                    @click="$dispatch('open-modal')">
                {% heroicon_outline 'check-circle' class='size-5' %}Completa
            </button>
        </div>
    </div>
</div>
