{% load filters heroicons %}
<div class="modal-content">
    <div class="flex justify-between items-center p-3 pb-4 rounded-t border-b md:p-4 dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Segnalazioni</h3>
        <button type="button"
                class="inline-flex justify-center items-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:text-gray-900 hover:bg-gray-200 ms-auto dark:hover:bg-gray-600 dark:hover:text-white"
                x-on:click="openModal = false">
            {% heroicon_solid 'x-mark' class="size-7" %}
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    {% if reports %}
    <div class="overflow-x-auto m-4">
        <table class="table text-center">
            <!-- head -->
            <thead>
                <tr>
                    <th>Mittente</th>
                    <th>Ricevuto</th>
                    <th class="hidden md:block">Scadenza</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.name }}</td>
                        <td>{{ report.created_at|date:"d.m.y" }}</td>
                        <td class="hidden md:block">{{ report.created_at|days }}</td>
                        <td>
                            <div class="flex gap-2 justify-center" x-data>
                                <button class="flex items-center btn btn-xs btn-default"
                                        hx-get="{% url 'contacts:report_detail' report.pk %}"
                                        hx-target="#dialog"
                                        hx-swap="innerHTML"
                                        @click="$dispatch('open-modal')">
                                    {% heroicon_mini 'eye' class='size-4' %} <span class="hidden md:block">Visualizza</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="p-4 md:p-8">
        <p class="text-center text-gray-500">Nessuna segnalazione ricevuta</p>
    </div>
    {% endif %}
</div>
