{% load filters heroicons %}
<div class="modal-content">
    <div class="border-base-300 flex items-center justify-between rounded-t border-b p-3 pb-4 md:p-4">
        <h3 id="report-list-title"
            data-modal-title
            class="text-base-content text-xl font-semibold">Segnalazioni</h3>
        <button type="button"
                class="text-base-content/50 hover:bg-base-200 hover:text-base-content ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm"
                x-on:click="openModal = false">
            {% heroicon_solid 'x-mark' class="size-7" %}
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    {% if reports %}
    <div class="overflow-x-auto px-5 py-3 md:px-6 md:py-4">
        <table class="table text-center">
            <!-- head -->
            <thead>
                <tr>
                    <th>Mittente</th>
                    <th>Ricevuto</th>
                    <th class="hidden md:block">Scadenza</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.name }}</td>
                        <td>{{ report.created_at|date:"d.m.y" }}</td>
                        <td class="hidden md:block">{{ report.created_at|days }}</td>
                        <td>
                            <div class="flex justify-center gap-2" x-data>
                                <button class="btn btn-xs dark:btn-soft flex items-center"
                                        hx-get="{% url 'contacts:report_detail' report.pk %}"
                                        hx-target="#dialog"
                                        hx-swap="innerHTML"
                                        @click="$dispatch('open-modal')">
                                    {% heroicon_mini 'eye' class='size-4' %} <span class="hidden md:block">Visualizza</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="px-5 py-3 md:px-6 md:py-4">
        <p class="text-base-content/60 text-center">Nessuna segnalazione ricevuta</p>
    </div>
    {% endif %}
</div>
